<!DOCTYPE html>
<html lang="en">
  <%= render "shared/layout_head" %>
  <body id = <%= body_id %> >
    <%= render "shared/header" %>
    <div id = "container">
      <%= render "shared/new_title", text: "Compete..Compete...Compete...." %>
      <%= render "competitions/nav2_list" %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
