<!DOCTYPE html>
<html lang="en">
  <%= render "shared/layout_head" %>
  <body id = <%= body_id %> >
    <%= render "shared/header" %>
    <div id = "container">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
