<div id="carousel-loggedin">
  <ul id="carousel-images">
    <li id="1"> <%= link_to image_tag("carousel_small_1.jpg", alt: "carousel 1"), "http://www.myshortflicks.com/competitions/xjR4ceuoIBPuDpYB" %> </li>
    <li id="2"> <%= link_to image_tag("carousel_small_2.jpg", alt: "carousel 2"), "http://www.myshortflicks.com/competitions/hOGwleXVIttLUTmU" %> </li>
    <li id="3"> <%= link_to image_tag("carousel_small_3.jpg", alt: "carousel 3"), "http://www.myshortflicks.com/videos/E-e98t5vpU8NpSOM" %> </li>
    <!-- <li id="4"> <%# image_tag("carousel_4.jpg", alt: "carousel 4") %> </li> -->
  </ul>
  <ul id="carousel-thumbnails">
    <li id="1" class="first-carousel-thumbnail"> <%= image_tag("carousel_small_1.jpg", alt: "carousel 1") %> </li>
    <li id="2" > <%= image_tag("carousel_small_2.jpg", alt: "carousel 2") %> </li>
    <li id="3" class="last-carousel-thumbnail"> <%= image_tag("carousel_small_3.jpg", alt: "carousel 3") %> </li>
    <!-- <li id="4" class="last-carousel-thumbnail"> <%# image_tag("carousel_4.jpg", alt: "carousel 4") %> </li> -->
  </ul>
</div>
